video {
  object-fit: cover;
}

@media screen and (min-width: 1000px) {
  video {
    height: 480px;
  }
}

div#container {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
